@helper ByName(string name, string css = "")
{
    css += " glyphicon glyphicon-" + name;
    css = css.Trim();    
    <span class="@css"></span>
}

@helper Asterisk(string css = "")
{
    @GlyphIcon.ByName("asterisk")
}
@helper Plus(string css = "")
{
    @GlyphIcon.ByName("plus")
}
@helper Euro(string css = "")
{
    @GlyphIcon.ByName("euro")
}
@helper Minus(string css = "")
{
    @GlyphIcon.ByName("minus")
}
@helper Cloud(string css = "")
{
    @GlyphIcon.ByName("cloud")
}
@helper Envelope(string css = "")
{
    @GlyphIcon.ByName("envelope")
}
@helper Pencil(string css = "")
{
    @GlyphIcon.ByName("pencil")
}
@helper Glass(string css = "")
{
    @GlyphIcon.ByName("glass")
}
@helper Music(string css = "")
{
    @GlyphIcon.ByName("music")
}
@helper Search(string css = "")
{
    @GlyphIcon.ByName("search")
}
@helper Heart(string css = "")
{
    @GlyphIcon.ByName("heart")
}
@helper Star(string css = "")
{
    @GlyphIcon.ByName("star")
}
@helper StarEmpty(string css = "")
{
    @GlyphIcon.ByName("star-empty")
}
@* Naming this User will hide HelperPage.User *@
@helper UserIcon(string css = "")
{
    @GlyphIcon.ByName("user")
}
@helper Film(string css = "")
{
    @GlyphIcon.ByName("film")
}
@helper ThLarge(string css = "")
{
    @GlyphIcon.ByName("th-large")
}
@helper Th(string css = "")
{
    @GlyphIcon.ByName("th")
}
@helper ThList(string css = "")
{
    @GlyphIcon.ByName("th-list")
}
@helper Ok(string css = "")
{
    @GlyphIcon.ByName("ok")
}
@helper Remove(string css = "")
{
    @GlyphIcon.ByName("remove")
}
@helper ZoomIn(string css = "")
{
    @GlyphIcon.ByName("zoom-in")
}
@helper ZoomOut(string css = "")
{
    @GlyphIcon.ByName("zoom-out")
}
@helper Off(string css = "")
{
    @GlyphIcon.ByName("off")
}
@helper Signal(string css = "")
{
    @GlyphIcon.ByName("signal")
}
@helper Cog(string css = "")
{
    @GlyphIcon.ByName("cog")
}
@helper Trash(string css = "")
{
    @GlyphIcon.ByName("trash")
}
@helper Home(string css = "")
{
    @GlyphIcon.ByName("home")
}
@helper File(string css = "")
{
    @GlyphIcon.ByName("file")
}
@helper Time(string css = "")
{
    @GlyphIcon.ByName("time")
}
@helper Road(string css = "")
{
    @GlyphIcon.ByName("road")
}
@helper DownloadAlt(string css = "")
{
    @GlyphIcon.ByName("download-alt")
}
@helper Download(string css = "")
{
    @GlyphIcon.ByName("download")
}
@helper Upload(string css = "")
{
    @GlyphIcon.ByName("upload")
}
@helper Inbox(string css = "")
{
    @GlyphIcon.ByName("inbox")
}
@helper PlayCircle(string css = "")
{
    @GlyphIcon.ByName("play-circle")
}
@helper Repeat(string css = "")
{
    @GlyphIcon.ByName("repeat")
}
@helper Refresh(string css = "")
{
    @GlyphIcon.ByName("refresh")
}
@helper ListAlt(string css = "")
{
    @GlyphIcon.ByName("list-alt")
}
@helper Lock(string css = "")
{
    @GlyphIcon.ByName("lock")
}
@helper Flag(string css = "")
{
    @GlyphIcon.ByName("flag")
}
@helper Headphones(string css = "")
{
    @GlyphIcon.ByName("headphones")
}
@helper VolumeOff(string css = "")
{
    @GlyphIcon.ByName("volume-off")
}
@helper VolumeDown(string css = "")
{
    @GlyphIcon.ByName("volume-down")
}
@helper VolumeUp(string css = "")
{
    @GlyphIcon.ByName("volume-up")
}
@helper QrCode(string css = "")
{
    @GlyphIcon.ByName("qrcode")
}
@helper Barcode(string css = "")
{
    @GlyphIcon.ByName("barcode")
}
@helper Tag(string css = "")
{
    @GlyphIcon.ByName("tag")
}
@helper Tags(string css = "")
{
    @GlyphIcon.ByName("tags")
}
@helper Book(string css = "")
{
    @GlyphIcon.ByName("book")
}
@helper Bookmark(string css = "")
{
    @GlyphIcon.ByName("bookmark")
}
@helper Print(string css = "")
{
    @GlyphIcon.ByName("print")
}
@helper Camera(string css = "")
{
    @GlyphIcon.ByName("camera")
}
@helper Font(string css = "")
{
    @GlyphIcon.ByName("font")
}
@helper Bold(string css = "")
{
    @GlyphIcon.ByName("bold")
}
@helper Italic(string css = "")
{
    @GlyphIcon.ByName("italic")
}
@helper TextHeight(string css = "")
{
    @GlyphIcon.ByName("text-height")
}
@helper TextWidth(string css = "")
{
    @GlyphIcon.ByName("text-width")
}
@helper AlignLeft(string css = "")
{
    @GlyphIcon.ByName("align-left")
}
@helper AlignCenter(string css = "")
{
    @GlyphIcon.ByName("align-center")
}
@helper AlignRight(string css = "")
{
    @GlyphIcon.ByName("align-right")
}
@helper AlignJustify(string css = "")
{
    @GlyphIcon.ByName("align-justify")
}
@helper List(string css = "")
{
    @GlyphIcon.ByName("list")
}
@helper IndentLeft(string css = "")
{
    @GlyphIcon.ByName("indent-left")
}
@helper IndentRight(string css = "")
{
    @GlyphIcon.ByName("indent-right")
}
@helper FacetimeVideo(string css = "")
{
    @GlyphIcon.ByName("facetime-video")
}
@helper Picture(string css = "")
{
    @GlyphIcon.ByName("picture")
}
@helper MapMarker(string css = "")
{
    @GlyphIcon.ByName("map-marker")
}
@helper Adjust(string css = "")
{
    @GlyphIcon.ByName("adjust")
}
@helper Tint(string css = "")
{
    @GlyphIcon.ByName("tint")
}
@helper Edit(string css = "")
{
    @GlyphIcon.ByName("edit")
}
@helper Share(string css = "")
{
    @GlyphIcon.ByName("share")
}
@helper Check(string css = "")
{
    @GlyphIcon.ByName("check")
}
@helper Move(string css = "")
{
    @GlyphIcon.ByName("move")
}
@helper StepBackward(string css = "")
{
    @GlyphIcon.ByName("step-backward")
}
@helper FastBackward(string css = "")
{
    @GlyphIcon.ByName("fast-backward")
}
@helper Backward(string css = "")
{
    @GlyphIcon.ByName("backward")
}
@helper Play(string css = "")
{
    @GlyphIcon.ByName("play")
}
@helper Pause(string css = "")
{
    @GlyphIcon.ByName("pause")
}
@helper Stop(string css = "")
{
    @GlyphIcon.ByName("stop")
}
@helper Forward(string css = "")
{
    @GlyphIcon.ByName("forward")
}
@helper FastForward(string css = "")
{
    @GlyphIcon.ByName("fast-forward")
}
@helper StepForward(string css = "")
{
    @GlyphIcon.ByName("step-forward")
}
@helper Eject(string css = "")
{
    @GlyphIcon.ByName("eject")
}
@helper ChevronLeft(string css = "")
{
    @GlyphIcon.ByName("chevron-left")
}
@helper ChevronRight(string css = "")
{
    @GlyphIcon.ByName("chevron-right")
}
@helper PlusSign(string css = "")
{
    @GlyphIcon.ByName("plus-sign")
}
@helper MinusSign(string css = "")
{
    @GlyphIcon.ByName("minus-sign")
}
@helper RemoveSign(string css = "")
{
    @GlyphIcon.ByName("remove-sign")
}
@helper OkSign(string css = "")
{
    @GlyphIcon.ByName("ok-sign")
}
@helper QuestionSign(string css = "")
{
    @GlyphIcon.ByName("question-sign")
}
@helper InfoSign(string css = "")
{
    @GlyphIcon.ByName("info-sign")
}
@helper Screenshot(string css = "")
{
    @GlyphIcon.ByName("screenshot")
}
@helper RemoveCircle(string css = "")
{
    @GlyphIcon.ByName("remove-circle")
}
@helper OkCircle(string css = "")
{
    @GlyphIcon.ByName("ok-circle")
}
@helper BanCircle(string css = "")
{
    @GlyphIcon.ByName("ban-circle")
}
@helper ArrowLeft(string css = "")
{
    @GlyphIcon.ByName("arrow-left")
}
@helper ArrowRight(string css = "")
{
    @GlyphIcon.ByName("arrow-right")
}
@helper ArrowUp(string css = "")
{
    @GlyphIcon.ByName("arrow-up")
}
@helper ArrowDown(string css = "")
{
    @GlyphIcon.ByName("arrow-down")
}
@helper ShareAlt(string css = "")
{
    @GlyphIcon.ByName("share-alt")
}
@helper ResizeFull(string css = "")
{
    @GlyphIcon.ByName("resize-full")
}
@helper ResizeSmall(string css = "")
{
    @GlyphIcon.ByName("resize-small")
}
@helper ExclamationSign(string css = "")
{
    @GlyphIcon.ByName("exclamation-sign")
}
@helper Gift(string css = "")
{
    @GlyphIcon.ByName("gift")
}
@helper Leaf(string css = "")
{
    @GlyphIcon.ByName("leaf")
}
@helper Fire(string css = "")
{
    @GlyphIcon.ByName("fire")
}
@helper EyeOpen(string css = "")
{
    @GlyphIcon.ByName("eye-open")
}
@helper EyeClose(string css = "")
{
    @GlyphIcon.ByName("eye-close")
}
@helper WarningSign(string css = "")
{
    @GlyphIcon.ByName("warning-sign")
}
@helper Plane(string css = "")
{
    @GlyphIcon.ByName("plane")
}
@helper Calendar(string css = "")
{
    @GlyphIcon.ByName("calendar")
}
@helper Random(string css = "")
{
    @GlyphIcon.ByName("random")
}
@helper Comment(string css = "")
{
    @GlyphIcon.ByName("comment")
}
@helper Magnet(string css = "")
{
    @GlyphIcon.ByName("magnet")
}
@helper ChevronUp(string css = "")
{
    @GlyphIcon.ByName("chevron-up")
}
@helper ChevronDown(string css = "")
{
    @GlyphIcon.ByName("chevron-down")
}
@helper Retweet(string css = "")
{
    @GlyphIcon.ByName("retweet")
}
@helper ShoppingCart(string css = "")
{
    @GlyphIcon.ByName("shopping-cart")
}
@helper FolderClose(string css = "")
{
    @GlyphIcon.ByName("folder-close")
}
@helper FolderOpen(string css = "")
{
    @GlyphIcon.ByName("folder-open")
}
@helper ResizeVertical(string css = "")
{
    @GlyphIcon.ByName("resize-vertical")
}
@helper ResizeHorizontal(string css = "")
{
    @GlyphIcon.ByName("resize-horizontal")
}
@helper Hdd(string css = "")
{
    @GlyphIcon.ByName("hdd")
}
@helper Bullhorn(string css = "")
{
    @GlyphIcon.ByName("bullhorn")
}
@helper Bell(string css = "")
{
    @GlyphIcon.ByName("bell")
}
@helper Certificate(string css = "")
{
    @GlyphIcon.ByName("certificate")
}
@helper ThumbsUp(string css = "")
{
    @GlyphIcon.ByName("thumbs-up")
}
@helper ThumbsDown(string css = "")
{
    @GlyphIcon.ByName("thumbs-down")
}
@helper HandRight(string css = "")
{
    @GlyphIcon.ByName("hand-right")
}
@helper HandLeft(string css = "")
{
    @GlyphIcon.ByName("hand-left")
}
@helper HandUp(string css = "")
{
    @GlyphIcon.ByName("hand-up")
}
@helper HandDown(string css = "")
{
    @GlyphIcon.ByName("hand-down")
}
@helper CircleArrowRight(string css = "")
{
    @GlyphIcon.ByName("circle-arrow-right")
}
@helper CircleArrowKeft(string css = "")
{
    @GlyphIcon.ByName("circle-arrow-left")
}
@helper CircleArrowUp(string css = "")
{
    @GlyphIcon.ByName("circle-arrow-up")
}
@helper CircleArrowDown(string css = "")
{
    @GlyphIcon.ByName("circle-arrow-down")
}
@helper Globe(string css = "")
{
    @GlyphIcon.ByName("globe")
}
@helper Wrench(string css = "")
{
    @GlyphIcon.ByName("wrench")
}
@helper Tasks(string css = "")
{
    @GlyphIcon.ByName("tasks")
}
@helper Filter(string css = "")
{
    @GlyphIcon.ByName("filter")
}
@helper Briefcase(string css = "")
{
    @GlyphIcon.ByName("briefcase")
}
@helper Fullscreen(string css = "")
{
    @GlyphIcon.ByName("fullscreen")
}
@helper Dashboard(string css = "")
{
    @GlyphIcon.ByName("dashboard")
}
@helper Paperclip(string css = "")
{
    @GlyphIcon.ByName("paperclip")
}
@helper HeartEmpty(string css = "")
{
    @GlyphIcon.ByName("heart-empty")
}
@helper Link(string css = "")
{
    @GlyphIcon.ByName("link")
}
@helper Phone(string css = "")
{
    @GlyphIcon.ByName("phone")
}
@helper Pushpin(string css = "")
{
    @GlyphIcon.ByName("pushpin")
}
@helper Usd(string css = "")
{
    @GlyphIcon.ByName("usd")
}
@helper Gbp(string css = "")
{
    @GlyphIcon.ByName("gbp")
}
@helper Sort(string css = "")
{
    @GlyphIcon.ByName("sort")
}
@helper SortByAlphabet(string css = "")
{
    @GlyphIcon.ByName("sort-by-alphabet")
}
@helper SortByAlphabetAlt(string css = "")
{
    @GlyphIcon.ByName("sort-by-alphabet-alt")
}
@helper SortByOrder(string css = "")
{
    @GlyphIcon.ByName("sort-by-order")
}
@helper SortByOrderAlt(string css = "")
{
    @GlyphIcon.ByName("sort-by-order-alt")
}
@helper SortByAttributes(string css = "")
{
    @GlyphIcon.ByName("sort-by-attributes")
}
@helper SortByAttributesAlt(string css = "")
{
    @GlyphIcon.ByName("sort-by-attributes-alt")
}
@helper Unchecked(string css = "")
{
    @GlyphIcon.ByName("unchecked")
}
@helper Expand(string css = "")
{
    @GlyphIcon.ByName("expand")
}
@helper CollapseDown(string css = "")
{
    @GlyphIcon.ByName("collapse-down")
}
@helper CollapseUp(string css = "")
{
    @GlyphIcon.ByName("collapse-up")
}
@helper LogIn(string css = "")
{
    @GlyphIcon.ByName("log-in")
}
@helper Flash(string css = "")
{
    @GlyphIcon.ByName("flash")
}
@helper LogOut(string css = "")
{
    @GlyphIcon.ByName("log-out")
}
@helper NewWindow(string css = "")
{
    @GlyphIcon.ByName("new-window")
}
@helper Record(string css = "")
{
    @GlyphIcon.ByName("record")
}
@helper Save(string css = "")
{
    @GlyphIcon.ByName("save")
}
@helper Open(string css = "")
{
    @GlyphIcon.ByName("open")
}
@helper Saved(string css = "")
{
    @GlyphIcon.ByName("saved")
}
@helper Import(string css = "")
{
    @GlyphIcon.ByName("import")
}
@helper Export(string css = "")
{
    @GlyphIcon.ByName("export")
}
@helper Send(string css = "")
{
    @GlyphIcon.ByName("send")
}
@helper FloppyDisk(string css = "")
{
    @GlyphIcon.ByName("floppy-disk")
}
@helper FloppySaved(string css = "")
{
    @GlyphIcon.ByName("floppy-saved")
}
@helper FloppyRemove(string css = "")
{
    @GlyphIcon.ByName("floppy-remove")
}
@helper FloppySave(string css = "")
{
    @GlyphIcon.ByName("floppy-save")
}
@helper FloppyOpen(string css = "")
{
    @GlyphIcon.ByName("floppy-open")
}
@helper CreditCard(string css = "")
{
    @GlyphIcon.ByName("credit-card")
}
@helper Transfer(string css = "")
{
    @GlyphIcon.ByName("transfer")
}
@helper Cutlery(string css = "")
{
    @GlyphIcon.ByName("cutlery")
}
@helper Header(string css = "")
{
    @GlyphIcon.ByName("header")
}
@helper Compressed(string css = "")
{
    @GlyphIcon.ByName("compressed")
}
@helper Earphone(string css = "")
{
    @GlyphIcon.ByName("earphone")
}
@helper PhoneAlt(string css = "")
{
    @GlyphIcon.ByName("phone-alt")
}
@helper Tower(string css = "")
{
    @GlyphIcon.ByName("tower")
}
@helper Stats(string css = "")
{
    @GlyphIcon.ByName("stats")
}
@helper SdVideo(string css = "")
{
    @GlyphIcon.ByName("sd-video")
}
@helper HdVideo(string css = "")
{
    @GlyphIcon.ByName("hd-video")
}
@helper Subtitles(string css = "")
{
    @GlyphIcon.ByName("subtitles")
}
@helper SoundStereo(string css = "")
{
    @GlyphIcon.ByName("sound-stereo")
}
@helper SoundDolby(string css = "")
{
    @GlyphIcon.ByName("sound-dolby")
}
@helper Sound5(string css = "")
{
    @GlyphIcon.ByName("sound-5-1")
}
@helper Sound6(string css = "")
{
    @GlyphIcon.ByName("sound-6-1")
}
@helper Sound7(string css = "")
{
    @GlyphIcon.ByName("sound-7-1")
}
@helper CopyrightMark(string css = "")
{
    @GlyphIcon.ByName("copyright-mark")
}
@helper RegistrationMark(string css = "")
{
    @GlyphIcon.ByName("registration-mark")
}
@helper CloudDownload(string css = "")
{
    @GlyphIcon.ByName("cloud-download")
}
@helper CloudUpload(string css = "")
{
    @GlyphIcon.ByName("cloud-upload")
}
@helper TreeConifer(string css = "")
{
    @GlyphIcon.ByName("tree-conifer")
}
@helper TreeDeciduous(string css = "")
{
    @GlyphIcon.ByName("tree-deciduous")
}